<section>
  <div class="display-6">
    Formulário de Cadastro:
  </div>
  <div class="row">
    <div *ngIf="product" class="col-md-10 offset-1">
      <form [formGroup]="formGroupProduct" id="formProduct" #formProduct="ngForm">
        <div *ngIf="product.id" class="row mb-3 mt-3">
          <label for="inputId" class="col-sm-2 col-form-label">Id:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputId" name="id" formControlName="id" readonly>
          </div>
        </div>
        <div class="row mb-3 mt-3">
          <label for="inputName" class="col-sm-2 col-form-label">Nome:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" name="name" formControlName="name">
            <div *ngIf="formProduct.submitted">
              <small *ngIf="pfgname?.errors?.['required']" class="text-danger">
                O campo nome é obrigatório.
              </small>
              <small *ngIf="pfgname?.errors?.['minlength']" class="text-danger">
                Tamanho mínimo de 3 caracteres.
              </small>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputDescription" class="col-sm-2 col-form-label">Descrição:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDescription" name="description"
              formControlName="description">
            <div *ngIf="formProduct.submitted">
              <small *ngIf="pfgdescription?.errors?.['required']" class="text-danger">
                O campo descrição é obrigatório.
              </small>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPrice" class="col-sm-2 col-form-label">Preço:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="inputPrice" name="price" formControlName="price">
            <div *ngIf="formProduct.submitted">
              <small *ngIf="pfgprice?.errors?.['required']" class="text-danger">
                O campo preço é obrigatório.
              </small>
            </div>
          </div>
          <label for="selectCategory" class="col-sm-2 col-form-label">Categoria:</label>
          <div class="col-sm-4">
            <select class="form-select" id="selectCategory" name="category" formControlName="category"
              [compareWith]="selectedCategory" area-label="Selecione uma categoria" required>
              <option value="" selected>Escolha:</option>
              <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
            </select>
            <div *ngIf="formProduct.submitted">
              <small *ngIf="pfgcategory?.errors?.['required']" class="text-danger">
                O campo categoria é obrigatório.
              </small>
            </div>
          </div>
        </div>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Opções</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="promotion" id="checkboxPromotion"
                formControlName="promotion">
              <label class="form-check-label" for="checkboxPromotion">
                Promoção
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="newProduct" id="checkboxNew"
                formControlName="newProduct">
              <label class="form-check-label" for="checkboxNew">
                Lançamento
              </label>
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary me-1" (click)="save()">Salvar</button>
        <button type="submit" class="btn btn-danger" (click)="cancel()">Cancelar</button>
      </form>
    </div>
  </div>
</section>
